
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.box-header {
  display: table;
  width: 100%;
  height: 60px;
}
.left-cell {
  display: table-cell;
  vertical-align: middle;
}
.right-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.my-card-wrapper {
  text-align: center;
}
.my-card {
  width: 200px;
  height: 600px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
}